* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.topo {
  display: flex;
  justify-content: center;
  
  background-color: #FFFFFF;
  border-bottom: 1px solid #DBDBDB;
  
  position: fixed;
  width: 100%;
  height: 54px;
  left: 0;
  top: 0;
  z-index: 1; 
}

nav {
  background-color: aqua;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 935px;
}

.logos {
  display: flex;
  align-items: center;
}

.fundo-timeline {
  background-color: blueviolet;

  display: flex;
  justify-content: center;

  margin-top: 54px;
}

.feed-e-sidebar {
  background-color: beige;

  display: flex;
  justify-content: space-between;

  width: 935px;
}

.feed {
  background-color: darkcyan;

  width: 614px;
}

.stories {
  background-color: burlywood;

  display: flex;
  justify-content: space-between;  /*posso ter que mudar*/
  align-items: center;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 66px;
}

.story img:nth-child(1) {
  /*height: 66px;*/
  width: 100%;
}

.story img:nth-child(2) {
  /*height: 56px;*/

  position: absolute;
}

.menu-da-foto {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 61px;
}

.menu-da-foto div:nth-child(1) {
  display: flex;
  align-items: center;
}

.menu-da-foto img {
  height: 32px;
}

.linha-do-tempo img {
  width: 100%;
}

.icones-acoes-imagem {
  display: flex;
  justify-content: space-between;
}



.sidebar {
  background-color: rgb(0, 255, 149);
  
  width: 293px; /*ver se precisa deixar esses valores fixos*/

}

strong {
  font-weight: bold;
}



/*    ESCONDER SIDEBAR    */
@media (max-width: 935px) {
  .feed-e-sidebar {
    background-color: violet;

    justify-content: center;
  }

  .sidebar {
    display: none;
  }
}


/*    MOBILE    */
@media (max-width: 614px) {

}